# ============================================================
# ПЕРЕМЕННЫЕ ОКРУЖЕНИЯ ДЛЯ ПАРСЕРА
# ============================================================

# ---------- НАСТРОЙКИ SELENIUM ----------
HEADLESS=true
PAGE_LOAD_TIMEOUT=20
IMPLICITLY_WAIT=3

# ---------- ЗАДЕРЖКИ ----------
DELAY_BETWEEN_REQUESTS=1.0
DELAY_AFTER_CLICK=1.5
DELAY_AFTER_SEARCH=1.5
AFTER_PROPERTIES=1.0
AFTER_SCROLL=0.3
PRODUCT_LINK=8
PAGE_LOAD=10

# ---------- USER-AGENT ----------
USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"

# ---------- ЛОГИРОВАНИЕ ----------
LOG_LEVEL=INFO

# ---------- МОДЕЛИ ДЛЯ ПАРСИНГА ----------
MODELS_TO_PARSE=Gorenje ECT643SYB,Gorenje ECT641BCSC,Candy CHXC64TDB,Kuppersberg ECO 603,Kuppersberg 400,Kuppersberg ECS 635,Midea MCH-B632C,Kuppersberg ECS 624,Midea MCH-B641C,Weissgauff HV 633 BS

# ---------- Токен бота ----------
TOKEN=